---
import renderMeta from './internal/meta/render-meta';
import PageRouter from './page-router';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {'meta' in Astro.props.data && <Fragment set:html={renderMeta(Astro.props.data)} />}
  </head>
  <body>
    <div>
      <PageRouter
        client:load
        data={Astro.props.data}
        pathname={Astro.url.pathname}
        search={Astro.url.search}
      />
    </div>
  </body>
</html>
